<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">C:\\Users\\JuliaGirona\\IdeaProjects\\SeleniumWebDriverSetupTest\\src\\com\\company\\logs
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="File" filePattern="${basePath}/app-%d{yyyy-MM-dd}.log" fileName="${basePath}/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 KB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1} -%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="loggingfile" level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="log4j2withanotherleveldemo" level="fatal" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="performancetest" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="performanceteststopwatch" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
